@keyframes popIn
    0%
        opacity: 0
        transform: translate(0, -100%)
        filter: blur(2px)
    100%
        opacity: 1
        transform: translate(0, 0)
        filter: blur(0)

@keyframes tada
    0%
        transform: scale3d(1, 1, 1)
    10%,
    20%
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    30%,
    50%,
    70%,
    90%
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    40%,
    60%,
    80%
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    100%
        transform: scale3d(1, 1, 1)


@keyframes caret
    50%
        border-right-color: transparent
@keyframes typing
    from
        width: 0